nifi/Clean_salaries.json
{"flowContents":{"identifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506","instanceIdentifier":"97d3c1db-019a-1000-c042-f56fc034da57","name":"Clean_salaries","comments":"","position":{"x":-824.0,"y":-1064.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"97d3c3fd-019a-1000-c272-27753b0e0587","instanceIdentifier":"956198cc-be7b-33f7-7d7f-3cc3a8cc2f43","name":"UpdateAttribute","comments":"","position":{"x":-451.9999527942641,"y":-199.9374253420085},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Player_season_key":"${Player}_${Season}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Player_season_key":{"name":"Player_season_key","displayName":"Player_season_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c400-019a-1000-034e-d428bdab68bc","instanceIdentifier":"9a2161cb-f3de-336a-7033-18624c6ee7b0","name":"UpdateRecord","comments":"","position":{"x":100.00004720573588,"y":-159.9374253420085},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Record Writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","/Player_season_key":"concat(/Player, '_', /Season)","Record Reader":"59d66f7b-a133-37be-b16b-5251e079106b","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Player_season_key":{"name":"/Player_season_key","displayName":"/Player_season_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c402-019a-1000-c3e9-71de8630e9fd","instanceIdentifier":"5fb4551e-86c4-3061-ed1c-b0dad3dd3004","name":"FetchS3Object_salaries","comments":"","position":{"x":28.000047205735882,"y":-431.9374253420085},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"proxy-configuration-service":null,"Endpoint Override URL":null,"Object Key":"salaries.csv","AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Custom Signer Module Location":null,"Range Start":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"data226finalproject","Version":null,"Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"Encryption Service":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c403-019a-1000-f785-f3ca0cf4e52f","instanceIdentifier":"4aa316b3-fe03-34ec-9bac-d090a2b7daf0","name":"ListS3_salaries","comments":"","position":{"x":-419.9999527942641,"y":-455.9374253420085},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"Minimum Object Age":"0 sec","et-initial-listing-target":"all","proxy-configuration-service":null,"Maximum Object Age":null,"Endpoint Override URL":null,"et-time-window":"3 hours","List Type":"1","Prefix":null,"Signer Override":"Default Signature","Record Writer":null,"Use Versions":"false","Requester Pays":"false","Delimiter":null,"AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Write Object Tags":"false","Listing Batch Size":"100","Custom Signer Module Location":null,"SSL Context Service":null,"Bucket":"data226finalproject","Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"et-state-cache":null,"Listing Strategy":"timestamps","Write User Metadata":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"c92aa42c-1e51-344a-bcca-07a86ecf9614","instanceIdentifier":"97ecbd97-019a-1000-cd37-9ba1aaa9eb29","name":"PutS3Object","comments":"","position":{"x":64.0,"y":104.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Object Tags Prefix":null,"Signer Override":"Default Signature","Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"salaries_cleaned.csv","AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","Custom Signer Module Location":null,"SSL Context Service":null,"Server Side Encryption":"None","Bucket":"data226finalproject","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-1","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null,"Expiration Time Rule":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c3ff-019a-1000-f2ea-6f7d65d480b2","instanceIdentifier":"bee4ac4a-0993-30f6-5c2d-c460eee153a8","name":"QueryRecord","comments":"","position":{"x":-435.9999527942641,"y":48.06257465799149},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dbf-default-precision":"10","salaries":"SELECT * FROM FLOWFILE","record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","record-reader":"59d66f7b-a133-37be-b16b-5251e079106b","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"salaries":{"name":"salaries","displayName":"salaries","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"97d3c40a-019a-1000-629f-b5e420e8a89b","instanceIdentifier":"34e7164a-3617-3496-8fb4-ecde104273c9","name":"","source":{"id":"97d3c403-019a-1000-f785-f3ca0cf4e52f","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"ListS3_salaries","comments":"","instanceIdentifier":"4aa316b3-fe03-34ec-9bac-d090a2b7daf0"},"destination":{"id":"97d3c402-019a-1000-c3e9-71de8630e9fd","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"FetchS3Object_salaries","comments":"","instanceIdentifier":"5fb4551e-86c4-3061-ed1c-b0dad3dd3004"},"labelIndex":0,"zIndex":32,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"5d20b8e8-3766-3fae-8dad-a28eafd98441","instanceIdentifier":"97ecdadb-019a-1000-414d-53b69923ee3e","name":"","source":{"id":"97d3c3ff-019a-1000-f2ea-6f7d65d480b2","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"QueryRecord","comments":"","instanceIdentifier":"bee4ac4a-0993-30f6-5c2d-c460eee153a8"},"destination":{"id":"c92aa42c-1e51-344a-bcca-07a86ecf9614","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"PutS3Object","comments":"","instanceIdentifier":"97ecbd97-019a-1000-cd37-9ba1aaa9eb29"},"labelIndex":0,"zIndex":36,"selectedRelationships":["salaries"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c408-019a-1000-15c4-fbda612c76fa","instanceIdentifier":"85140625-3942-3ed9-1f36-e14ef9f69778","name":"","source":{"id":"97d3c402-019a-1000-c3e9-71de8630e9fd","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"FetchS3Object_salaries","comments":"","instanceIdentifier":"5fb4551e-86c4-3061-ed1c-b0dad3dd3004"},"destination":{"id":"97d3c3fd-019a-1000-c272-27753b0e0587","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"UpdateAttribute","comments":"","instanceIdentifier":"956198cc-be7b-33f7-7d7f-3cc3a8cc2f43"},"labelIndex":0,"zIndex":33,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c407-019a-1000-7407-8fedb1bfbce9","instanceIdentifier":"82fc0632-9613-38eb-d666-5eb0f3edf4d5","name":"","source":{"id":"97d3c3fd-019a-1000-c272-27753b0e0587","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"UpdateAttribute","comments":"","instanceIdentifier":"956198cc-be7b-33f7-7d7f-3cc3a8cc2f43"},"destination":{"id":"97d3c400-019a-1000-034e-d428bdab68bc","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"UpdateRecord","comments":"","instanceIdentifier":"9a2161cb-f3de-336a-7033-18624c6ee7b0"},"labelIndex":0,"zIndex":34,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"},{"identifier":"97d3c405-019a-1000-11da-8bf214aaf8e2","instanceIdentifier":"de7e317b-6fe6-3ce9-e162-41d75d5a5ad5","name":"","source":{"id":"97d3c400-019a-1000-034e-d428bdab68bc","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"UpdateRecord","comments":"","instanceIdentifier":"9a2161cb-f3de-336a-7033-18624c6ee7b0"},"destination":{"id":"97d3c3ff-019a-1000-f2ea-6f7d65d480b2","type":"PROCESSOR","groupId":"7175a106-96bb-3e9b-aba3-74fd06a9c506","name":"QueryRecord","comments":"","instanceIdentifier":"bee4ac4a-0993-30f6-5c2d-c460eee153a8"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7175a106-96bb-3e9b-aba3-74fd06a9c506"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"580f6378-c022-3dc0-9938-cadec5ef4999":{"identifier":"580f6378-c022-3dc0-9938-cadec5ef4999","name":"C1"},"59d66f7b-a133-37be-b16b-5251e079106b":{"identifier":"59d66f7b-a133-37be-b16b-5251e079106b","name":"CSVReader"},"e171dbb2-b7d2-3cb2-9c52-5a142b951710":{"identifier":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","name":"CSVRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}