nifi/Dim_player_etl.json
{"flowContents":{"identifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","instanceIdentifier":"933ef112-019a-1000-f180-a2121601f070","name":"Dim_player_etl","comments":"","position":{"x":-1704.0,"y":-808.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"93407c8c-019a-1000-5ab8-18c1df117215","instanceIdentifier":"6829934f-d65c-39d3-86e8-e05e5a364e1d","name":"UpdateAttribute","comments":"","position":{"x":-696.0,"y":160.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c92-019a-1000-9d40-bddb4ed60644","instanceIdentifier":"bd0bb1bf-cddb-3714-e346-1394f508b95f","name":"UpdateAttribute","comments":"","position":{"x":-80.0,"y":-72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"merge.key":"dim","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"merge.key":{"name":"merge.key","displayName":"merge.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c90-019a-1000-f06a-d068a2ebe696","instanceIdentifier":"91d75f2f-150a-3d0a-ed10-89a8f78fc49c","name":"ListS3","comments":"","position":{"x":-660.5002445353314,"y":-303.93738200453413},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"Minimum Object Age":"0 sec","et-initial-listing-target":"all","proxy-configuration-service":null,"Maximum Object Age":null,"Endpoint Override URL":null,"et-time-window":"3 hours","List Type":"1","Prefix":"stats/","Signer Override":"Default Signature","Record Writer":null,"Use Versions":"false","Requester Pays":"false","Delimiter":null,"AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Write Object Tags":"false","Listing Batch Size":"100","Custom Signer Module Location":null,"SSL Context Service":null,"Bucket":"nba-data226","Communications Timeout":"30 secs","Region":"us-east-1","Custom Signer Class Name":null,"et-state-cache":null,"Listing Strategy":"timestamps","Write User Metadata":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c8f-019a-1000-59fd-fb02ffd26f3d","instanceIdentifier":"48c6f8cd-b044-3def-79a1-7ce73217aceb","name":"QueryRecord","comments":"","position":{"x":192.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dbf-default-precision":"10","record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","dim_player":"SELECT DISTINCT \"Player-additional\" as player_key, Player as full_name FROM FLOWFILE","record-reader":"59d66f7b-a133-37be-b16b-5251e079106b","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dim_player":{"name":"dim_player","displayName":"dim_player","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c8d-019a-1000-3679-cdc276e4707d","instanceIdentifier":"e4dbe1a8-5339-3a17-6582-091b666816ea","name":"MergeRecord","comments":"","position":{"x":-688.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"max-bin-age":"1 min","correlation-attribute-name":"merge.key","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","merge-strategy":"Bin-Packing Algorithm","record-reader":"59d66f7b-a133-37be-b16b-5251e079106b","max-records":"50000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c91-019a-1000-a7d4-122a9fea10ab","instanceIdentifier":"b224dc70-56f8-39bb-a40e-9d9cec259148","name":"PutS3Object","comments":"","position":{"x":-280.0,"y":160.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Object Tags Prefix":null,"Signer Override":"Default Signature","Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"dim_player.csv","AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","Custom Signer Module Location":null,"SSL Context Service":null,"Server Side Encryption":"None","Bucket":"nba-data226","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-1","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null,"Expiration Time Rule":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c8e-019a-1000-a1e3-7d250f51d811","instanceIdentifier":"f6024a64-5f54-3af7-4d0b-7bee4876a90c","name":"FetchS3Object","comments":"","position":{"x":-244.50024453533138,"y":-287.93738200453413},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"proxy-configuration-service":null,"Endpoint Override URL":null,"Object Key":"${filename}","AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Custom Signer Module Location":null,"Range Start":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"nba-data226","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Custom Signer Class Name":null,"Encryption Service":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93407c98-019a-1000-1401-d351bf080579","instanceIdentifier":"eb0ff931-8850-3866-5b0a-3cab8d44659a","name":"","source":{"id":"93407c90-019a-1000-f06a-d068a2ebe696","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"ListS3","comments":"","instanceIdentifier":"91d75f2f-150a-3d0a-ed10-89a8f78fc49c"},"destination":{"id":"93407c8e-019a-1000-a1e3-7d250f51d811","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"FetchS3Object","comments":"","instanceIdentifier":"f6024a64-5f54-3af7-4d0b-7bee4876a90c"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c95-019a-1000-0864-993552ab29f5","instanceIdentifier":"62454281-201f-3ce8-3d66-0f8daecd00c5","name":"","source":{"id":"93407c8c-019a-1000-5ab8-18c1df117215","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"UpdateAttribute","comments":"","instanceIdentifier":"6829934f-d65c-39d3-86e8-e05e5a364e1d"},"destination":{"id":"93407c91-019a-1000-a7d4-122a9fea10ab","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"PutS3Object","comments":"","instanceIdentifier":"b224dc70-56f8-39bb-a40e-9d9cec259148"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"3e7f871c-685d-347f-be1b-a95d7cce4f29","instanceIdentifier":"95fe678f-019a-1000-020a-df5bb2b01e0b","name":"","source":{"id":"93407c8f-019a-1000-59fd-fb02ffd26f3d","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"QueryRecord","comments":"","instanceIdentifier":"48c6f8cd-b044-3def-79a1-7ce73217aceb"},"destination":{"id":"93407c92-019a-1000-9d40-bddb4ed60644","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"UpdateAttribute","comments":"","instanceIdentifier":"bd0bb1bf-cddb-3714-e346-1394f508b95f"},"labelIndex":0,"zIndex":14,"selectedRelationships":["dim_player"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c96-019a-1000-c801-a9a5a5acb2b8","instanceIdentifier":"e9e9df36-e365-3dce-dd1b-baeafcdc5a88","name":"","source":{"id":"93407c8e-019a-1000-a1e3-7d250f51d811","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"FetchS3Object","comments":"","instanceIdentifier":"f6024a64-5f54-3af7-4d0b-7bee4876a90c"},"destination":{"id":"93407c8f-019a-1000-59fd-fb02ffd26f3d","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"QueryRecord","comments":"","instanceIdentifier":"48c6f8cd-b044-3def-79a1-7ce73217aceb"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c93-019a-1000-8ea2-37f86a27ef66","instanceIdentifier":"1f7b78ba-7ac7-3b67-f2d0-dca85c4b6955","name":"","source":{"id":"93407c8d-019a-1000-3679-cdc276e4707d","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"MergeRecord","comments":"","instanceIdentifier":"e4dbe1a8-5339-3a17-6582-091b666816ea"},"destination":{"id":"93407c8c-019a-1000-5ab8-18c1df117215","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"UpdateAttribute","comments":"","instanceIdentifier":"6829934f-d65c-39d3-86e8-e05e5a364e1d"},"labelIndex":0,"zIndex":12,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"},{"identifier":"93407c94-019a-1000-f1ad-6dba476b73c6","instanceIdentifier":"91fe7f71-7918-3090-4d5e-02dbe1b00e5f","name":"","source":{"id":"93407c92-019a-1000-9d40-bddb4ed60644","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"UpdateAttribute","comments":"","instanceIdentifier":"bd0bb1bf-cddb-3714-e346-1394f508b95f"},"destination":{"id":"93407c8d-019a-1000-3679-cdc276e4707d","type":"PROCESSOR","groupId":"e56ee3e9-f03d-3c62-8413-28c796d34d8d","name":"MergeRecord","comments":"","instanceIdentifier":"e4dbe1a8-5339-3a17-6582-091b666816ea"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56ee3e9-f03d-3c62-8413-28c796d34d8d"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"cc3361ca-4e85-3e88-8eb2-fec7b720b097":{"identifier":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","name":"AWSCredentialsProviderControllerService_season"},"59d66f7b-a133-37be-b16b-5251e079106b":{"identifier":"59d66f7b-a133-37be-b16b-5251e079106b","name":"CSVReader"},"e171dbb2-b7d2-3cb2-9c52-5a142b951710":{"identifier":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","name":"CSVRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}