nifi/Dim_season_etl.json
{"flowContents":{"identifier":"1414de60-0838-3375-aa89-8d7c81b3d383","instanceIdentifier":"93583360-019a-1000-879e-9b96c002d8d8","name":"Dim_season_etl","comments":"","position":{"x":-1696.0,"y":-552.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c9d4e0ef-f0bd-3300-bab7-cb24af12214c","instanceIdentifier":"936f9d15-019a-1000-5426-4bf3ab820621","name":"ListS3","comments":"","position":{"x":-648.0,"y":-296.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"Minimum Object Age":"0 sec","et-initial-listing-target":"all","proxy-configuration-service":null,"Maximum Object Age":null,"Endpoint Override URL":null,"et-time-window":"3 hours","List Type":"1","Prefix":"salaries.csv","Signer Override":"Default Signature","Record Writer":null,"Use Versions":"false","Requester Pays":"false","Delimiter":null,"AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Write Object Tags":"false","Listing Batch Size":"100","Custom Signer Module Location":null,"SSL Context Service":null,"Bucket":"nba-data226","Communications Timeout":"30 secs","Region":"us-east-1","Custom Signer Class Name":null,"et-state-cache":null,"Listing Strategy":"timestamps","Write User Metadata":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"93585ba9-019a-1000-3c33-c01be4394ee5","instanceIdentifier":"20a9fc68-2abc-3946-705b-5651681ad420","name":"UpdateAttribute","comments":"","position":{"x":-592.0,"y":40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"filename":"dim_season.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"93585ba6-019a-1000-c68e-c9489638cf98","instanceIdentifier":"eaf0fcad-29f8-3204-f718-0ef57881a832","name":"FetchS3Object","comments":"","position":{"x":-184.0,"y":-296.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"proxy-configuration-service":null,"Endpoint Override URL":null,"Object Key":"${filename}","AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Custom Signer Module Location":null,"Range Start":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"nba-data226","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Custom Signer Class Name":null,"Encryption Service":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"93585ba8-019a-1000-47d7-262d6affaa10","instanceIdentifier":"5c8fb553-b1a0-3211-8c11-e2de558a8958","name":"QueryRecord","comments":"","position":{"x":232.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dbf-default-precision":"10","dim_season":"SELECT DISTINCT CAST(Season AS INTEGER)    AS season_key, CAST(Season AS INTEGER) - 1 AS start_date FROM FLOWFILE WHERE CAST(Season AS INTEGER) BETWEEN 2021 AND 2025\n","record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","record-reader":"e97fb565-b71b-377b-9091-6144783b8b1c","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dim_season":{"name":"dim_season","displayName":"dim_season","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"93585baa-019a-1000-c9e6-2ce747bb264c","instanceIdentifier":"061b8eb7-a957-3caf-8bbe-1e2e1edcbdc8","name":"PutS3Object","comments":"","position":{"x":-99.99988977810449,"y":64.06247032210115},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Object Tags Prefix":null,"Signer Override":"Default Signature","Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","AWS Credentials Provider service":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","Custom Signer Module Location":null,"SSL Context Service":null,"Server Side Encryption":"None","Bucket":"nba-data226","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-1","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null,"Expiration Time Rule":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93585bab-019a-1000-d3fc-01ebcd4ad0ee","instanceIdentifier":"4c81d174-dd65-374f-1ec7-235611590d53","name":"","source":{"id":"93585ba6-019a-1000-c68e-c9489638cf98","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"FetchS3Object","comments":"","instanceIdentifier":"eaf0fcad-29f8-3204-f718-0ef57881a832"},"destination":{"id":"93585ba8-019a-1000-47d7-262d6affaa10","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"QueryRecord","comments":"","instanceIdentifier":"5c8fb553-b1a0-3211-8c11-e2de558a8958"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"93585bad-019a-1000-7705-c2d9f19397ec","instanceIdentifier":"a3931619-520e-3de0-c7ad-5c26940d94ef","name":"","source":{"id":"93585ba9-019a-1000-3c33-c01be4394ee5","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"UpdateAttribute","comments":"","instanceIdentifier":"20a9fc68-2abc-3946-705b-5651681ad420"},"destination":{"id":"93585baa-019a-1000-c9e6-2ce747bb264c","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"PutS3Object","comments":"","instanceIdentifier":"061b8eb7-a957-3caf-8bbe-1e2e1edcbdc8"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"2372a2d0-a97f-3bcb-9fbb-32014138cc20","instanceIdentifier":"935e05d4-019a-1000-1295-256d97c06645","name":"","source":{"id":"93585ba8-019a-1000-47d7-262d6affaa10","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"QueryRecord","comments":"","instanceIdentifier":"5c8fb553-b1a0-3211-8c11-e2de558a8958"},"destination":{"id":"93585ba9-019a-1000-3c33-c01be4394ee5","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"UpdateAttribute","comments":"","instanceIdentifier":"20a9fc68-2abc-3946-705b-5651681ad420"},"labelIndex":0,"zIndex":5,"selectedRelationships":["dim_season"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"},{"identifier":"f1e92665-4b9d-30cc-876a-ecb4d9c68d96","instanceIdentifier":"93702e6c-019a-1000-a263-42d0acfd9518","name":"","source":{"id":"c9d4e0ef-f0bd-3300-bab7-cb24af12214c","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"ListS3","comments":"","instanceIdentifier":"936f9d15-019a-1000-5426-4bf3ab820621"},"destination":{"id":"93585ba6-019a-1000-c68e-c9489638cf98","type":"PROCESSOR","groupId":"1414de60-0838-3375-aa89-8d7c81b3d383","name":"FetchS3Object","comments":"","instanceIdentifier":"eaf0fcad-29f8-3204-f718-0ef57881a832"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e97fb565-b71b-377b-9091-6144783b8b1c","instanceIdentifier":"935ff77b-019a-1000-6ed2-0a42bfae6350","name":"CSVReader_season","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1414de60-0838-3375-aa89-8d7c81b3d383"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"cc3361ca-4e85-3e88-8eb2-fec7b720b097":{"identifier":"cc3361ca-4e85-3e88-8eb2-fec7b720b097","name":"AWSCredentialsProviderControllerService_season"},"e171dbb2-b7d2-3cb2-9c52-5a142b951710":{"identifier":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","name":"CSVRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}