nifi/Dim_team_etl.json
{"flowContents":{"identifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","instanceIdentifier":"933d56ca-019a-1000-af3a-399a5d42bf9a","name":"Dim_team_etl","comments":"","position":{"x":-1240.0,"y":-808.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d93b566c-ae96-3119-a6f5-4a7eb947252e","instanceIdentifier":"9344d0d1-019a-1000-f169-addb5c66be9b","name":"FetchS3Object","comments":"","position":{"x":-168.0,"y":-280.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"proxy-configuration-service":null,"Endpoint Override URL":null,"Object Key":"nba_teams_conferences.csv","AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Custom Signer Module Location":null,"Range Start":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"data226finalproject","Version":null,"Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"Encryption Service":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"1f16389e-963c-3b6a-84bd-fab5f69249fd","instanceIdentifier":"9342cd60-019a-1000-8662-471fc8770c3f","name":"ListS3","comments":"","position":{"x":-576.0,"y":-280.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"Minimum Object Age":"0 sec","et-initial-listing-target":"all","proxy-configuration-service":null,"Maximum Object Age":null,"Endpoint Override URL":null,"et-time-window":"3 hours","List Type":"1","Prefix":null,"Signer Override":"Default Signature","Record Writer":null,"Use Versions":"false","Requester Pays":"false","Delimiter":null,"AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Write Object Tags":"false","Listing Batch Size":"100","Custom Signer Module Location":null,"SSL Context Service":null,"Bucket":"data226finalproject","Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"et-state-cache":null,"Listing Strategy":"timestamps","Write User Metadata":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"01d7aac6-30e4-36c0-985b-252b5446f887","instanceIdentifier":"93468575-019a-1000-83f7-4cdbe804ea37","name":"QueryRecord","comments":"","position":{"x":264.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dim_team":"SELECT abbreviation as team_key, team as team_name, conference FROM FLOWFILE","dbf-default-precision":"10","record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","record-reader":"8e0ab095-d2fa-3415-9657-7fa516b9c072","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dim_team":{"name":"dim_team","displayName":"dim_team","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"44abd33e-b672-34f7-b6cd-14aa6f75c53a","instanceIdentifier":"93499af0-019a-1000-8d67-76ea1b086b94","name":"UpdateAttribute","comments":"","position":{"x":-560.0,"y":-48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"filename":"dim_team.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"e71bb980-667a-37bf-9afb-79b980086500","instanceIdentifier":"934a727a-019a-1000-2aa9-75c151679238","name":"PutS3Object","comments":"","position":{"x":-80.0,"y":-24.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Object Tags Prefix":null,"Signer Override":"Default Signature","Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","AWS Credentials Provider service":"580f6378-c022-3dc0-9938-cadec5ef4999","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","Custom Signer Module Location":null,"SSL Context Service":null,"Server Side Encryption":"None","Bucket":"data226finalproject","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-1","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null,"Expiration Time Rule":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b3ce0632-41e4-3e5a-9121-13622d803719","instanceIdentifier":"9346c35f-019a-1000-6a92-9a4a16f1fd47","name":"","source":{"id":"d93b566c-ae96-3119-a6f5-4a7eb947252e","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"FetchS3Object","comments":"","instanceIdentifier":"9344d0d1-019a-1000-f169-addb5c66be9b"},"destination":{"id":"01d7aac6-30e4-36c0-985b-252b5446f887","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"QueryRecord","comments":"","instanceIdentifier":"93468575-019a-1000-83f7-4cdbe804ea37"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"e7b0cc7e-6823-30d9-9f48-d6641a75fedd","instanceIdentifier":"9349ba2d-019a-1000-577b-59043afe1f15","name":"","source":{"id":"01d7aac6-30e4-36c0-985b-252b5446f887","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"QueryRecord","comments":"","instanceIdentifier":"93468575-019a-1000-83f7-4cdbe804ea37"},"destination":{"id":"44abd33e-b672-34f7-b6cd-14aa6f75c53a","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"UpdateAttribute","comments":"","instanceIdentifier":"93499af0-019a-1000-8d67-76ea1b086b94"},"labelIndex":0,"zIndex":3,"selectedRelationships":["dim_team"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"f431f41f-2620-347a-a6c7-67aa6569e546","instanceIdentifier":"9344d8ee-019a-1000-58ce-a303b3778bde","name":"","source":{"id":"1f16389e-963c-3b6a-84bd-fab5f69249fd","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"ListS3","comments":"","instanceIdentifier":"9342cd60-019a-1000-8662-471fc8770c3f"},"destination":{"id":"d93b566c-ae96-3119-a6f5-4a7eb947252e","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"FetchS3Object","comments":"","instanceIdentifier":"9344d0d1-019a-1000-f169-addb5c66be9b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"},{"identifier":"6cd59fa1-5c69-3260-b25e-01797c2fe98b","instanceIdentifier":"934a8875-019a-1000-f691-a73ae2e5e460","name":"","source":{"id":"44abd33e-b672-34f7-b6cd-14aa6f75c53a","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"UpdateAttribute","comments":"","instanceIdentifier":"93499af0-019a-1000-8d67-76ea1b086b94"},"destination":{"id":"e71bb980-667a-37bf-9afb-79b980086500","type":"PROCESSOR","groupId":"88c941e9-0f0d-3abb-90a9-370bdfdf7037","name":"PutS3Object","comments":"","instanceIdentifier":"934a727a-019a-1000-2aa9-75c151679238"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8e0ab095-d2fa-3415-9657-7fa516b9c072","instanceIdentifier":"934e0bde-019a-1000-5d48-6df8648fbac0","name":"CSVReader_etl","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"88c941e9-0f0d-3abb-90a9-370bdfdf7037"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"580f6378-c022-3dc0-9938-cadec5ef4999":{"identifier":"580f6378-c022-3dc0-9938-cadec5ef4999","name":"C1"},"e171dbb2-b7d2-3cb2-9c52-5a142b951710":{"identifier":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","name":"CSVRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}