nifi/Fact_etl.json
{"flowContents":{"identifier":"21c96134-ef71-3618-af05-3c52c22d79b0","instanceIdentifier":"93786b3d-019a-1000-b8dc-fb2b419c52c5","name":"Fact_etl","comments":"","position":{"x":-1232.0,"y":-560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"05dcf74a-af2d-3585-ac96-0b68db3964af","instanceIdentifier":"989d00b9-019a-1000-fe99-714081e47d76","name":"MergeRecord","comments":"","position":{"x":-1032.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":"merge.key","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","merge-strategy":"Bin-Packing Algorithm","record-reader":"59d66f7b-a133-37be-b16b-5251e079106b","max-records":"50000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"36cfe4c1-ca13-3c8e-855d-7c7020642001","instanceIdentifier":"97a1a3ed-019a-1000-7567-0c06e3e0b186","name":"UpdateRecord","comments":"","position":{"x":-152.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"/Season":"${season}","Record Writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","Record Reader":"59d66f7b-a133-37be-b16b-5251e079106b","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/Season":{"name":"/Season","displayName":"/Season","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"a8bac2dd-d7de-3d19-baa5-d5ed05d22f2e","instanceIdentifier":"984226e5-019a-1000-304a-dadba36f2c81","name":"ExecuteStreamCommand","comments":"","position":{"x":-136.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":"application/json","Working Directory":"/opt/nifi/nifi-current","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/join_players.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"de0636b5-d4fc-3b43-b240-f979292432f1","instanceIdentifier":"958673df-019a-1000-6b0f-539e767a7ab4","name":"RouteOnAttribute","comments":"","position":{"x":-1016.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Routing Strategy":"Route to 'match' if any matches","is_folder":"${s3.key:endsWith('/')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_folder":{"name":"is_folder","displayName":"is_folder","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["matched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"d66ba52f-3dee-3112-970b-bec989dab969","instanceIdentifier":"989d81fa-019a-1000-39fe-541672594a02","name":"UpdateAttribute","comments":"","position":{"x":-592.0,"y":-56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"4d0792a2-c1a6-33b6-978e-d6ab366a2a60","instanceIdentifier":"93bcc3fb-019a-1000-a257-e107479cf8c7","name":"QueryRecord","comments":"","position":{"x":-592.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dbf-default-precision":"10","fact_player":"SELECT\n    player_key,\n    Team as team_key,\n    Season as season_key,\n    CAST(G AS INT)                AS g,\n    CAST(GS AS INT)               AS gs,\n    CAST(f.\"PERCE\" AS DECIMAL(7,2))     AS perce,\n    CAST(TS_PER AS DECIMAL(7,3))  AS ts_per,\n    CAST(USG_PER AS DECIMAL(7,2)) AS usg_per,\n    CAST(WS AS DECIMAL(7,2))      AS ws,\n    CAST(BPM AS DECIMAL(7,2))     AS bpm,\n    CAST(VORP AS DECIMAL(7,2))    AS vorp,\n    CAST(MP AS INT)               AS mp,\n    CAST(Age as INT) AS age,\n    CAST(Salary AS DECIMAL(12,2)) AS salary\nFROM FLOWFILE as f","record-writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","record-reader":"59d66f7b-a133-37be-b16b-5251e079106b","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fact_player":{"name":"fact_player","displayName":"fact_player","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"31fe2d8f-0c78-32c7-92c0-14a3916a180d","instanceIdentifier":"93c20bee-019a-1000-e4f6-f8b27cb55216","name":"PutS3Object","comments":"","position":{"x":-128.0,"y":-56.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Object Tags Prefix":null,"Signer Override":"Default Signature","Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","AWS Credentials Provider service":"e756da36-70e8-3b82-9967-1aa742349306","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","Custom Signer Module Location":null,"SSL Context Service":null,"Server Side Encryption":"None","Bucket":"data226finalproject","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-1","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null,"Expiration Time Rule":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"2e5ce578-6946-3ea9-9785-2c54cae2575f","instanceIdentifier":"957e3141-019a-1000-f35e-4a130a68de77","name":"FetchS3Object","comments":"","position":{"x":-584.0,"y":-752.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"proxy-configuration-service":null,"Endpoint Override URL":null,"Object Key":"${filename}","AWS Credentials Provider service":"e756da36-70e8-3b82-9967-1aa742349306","Custom Signer Module Location":null,"Range Start":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"data226finalproject","Version":null,"Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"Encryption Service":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"bd5d29c8-98d2-30bc-a851-7a4286556b73","instanceIdentifier":"95b443f5-019a-1000-477c-9601996b57c5","name":"UpdateAttribute","comments":"","position":{"x":-544.0,"y":-496.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Player_season_key":"${Player}_${Season}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","season":"${filename:replaceAll('^.*/','')\n          :replaceAll('^stats_(\\\\d{2})-(\\\\d{2})\\\\.csv$','20$2')}\n","Stateful Variables Initial Value":null},"propertyDescriptors":{"Player_season_key":{"name":"Player_season_key","displayName":"Player_season_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"season":{"name":"season","displayName":"season","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"218654e2-8161-37c7-a16b-771ac011c702","instanceIdentifier":"957584b9-019a-1000-aea7-2024c3849662","name":"ListS3","comments":"","position":{"x":-1016.0,"y":-776.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0"},"properties":{"Minimum Object Age":"0 sec","et-initial-listing-target":"all","proxy-configuration-service":null,"Maximum Object Age":null,"Endpoint Override URL":null,"et-time-window":"3 hours","List Type":"1","Prefix":"stats/","Signer Override":"Default Signature","Record Writer":null,"Use Versions":"false","Requester Pays":"false","Delimiter":null,"AWS Credentials Provider service":"e756da36-70e8-3b82-9967-1aa742349306","Write Object Tags":"false","Listing Batch Size":"100","Custom Signer Module Location":null,"SSL Context Service":null,"Bucket":"data226finalproject","Communications Timeout":"30 secs","Region":"us-west-1","Custom Signer Class Name":null,"et-state-cache":null,"Listing Strategy":"timestamps","Write User Metadata":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"c63b6f9c-f35f-3c06-8c53-825b02ac81ea","instanceIdentifier":"95b6fad8-019a-1000-e90b-2d6d0880be8f","name":"UpdateRecord","comments":"","position":{"x":-72.0,"y":-496.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Record Writer":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","/Player_season_key":"concat(/Player, '_', /Season)","Record Reader":"59d66f7b-a133-37be-b16b-5251e079106b","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Player_season_key":{"name":"/Player_season_key","displayName":"/Player_season_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"f0897fc6-5b92-35e5-9346-823dc4210f05","instanceIdentifier":"93c0fbe4-019a-1000-39e4-0599ad6e755f","name":"UpdateAttribute","comments":"","position":{"x":-1064.0,"y":-296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"merge.key":"stat","Delete Attributes Expression":null,"filename":"fact_player_season.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"merge.key":{"name":"merge.key","displayName":"merge.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"96e17911-30c7-3a74-9cc6-c208168a05cc","instanceIdentifier":"989d14ac-019a-1000-b710-e3f84936381b","name":"","source":{"id":"f0897fc6-5b92-35e5-9346-823dc4210f05","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"93c0fbe4-019a-1000-39e4-0599ad6e755f"},"destination":{"id":"05dcf74a-af2d-3585-ac96-0b68db3964af","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"MergeRecord","comments":"","instanceIdentifier":"989d00b9-019a-1000-fe99-714081e47d76"},"labelIndex":0,"zIndex":44,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"df374784-1595-3543-9860-b5b49c33e8a1","instanceIdentifier":"989d9885-019a-1000-008d-65c5e9af8167","name":"","source":{"id":"05dcf74a-af2d-3585-ac96-0b68db3964af","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"MergeRecord","comments":"","instanceIdentifier":"989d00b9-019a-1000-fe99-714081e47d76"},"destination":{"id":"d66ba52f-3dee-3112-970b-bec989dab969","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"989d81fa-019a-1000-39fe-541672594a02"},"labelIndex":0,"zIndex":45,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"7389e1d9-f107-3699-924f-a355a0afc2f7","instanceIdentifier":"9857cd8a-019a-1000-0bb7-075426372b42","name":"","source":{"id":"a8bac2dd-d7de-3d19-baa5-d5ed05d22f2e","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"984226e5-019a-1000-304a-dadba36f2c81"},"destination":{"id":"4d0792a2-c1a6-33b6-978e-d6ab366a2a60","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"QueryRecord","comments":"","instanceIdentifier":"93bcc3fb-019a-1000-a257-e107479cf8c7"},"labelIndex":0,"zIndex":43,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"72edc2d5-7736-3e7f-b6e5-db04ffa5ad94","instanceIdentifier":"95869940-019a-1000-4154-33c9be906889","name":"","source":{"id":"218654e2-8161-37c7-a16b-771ac011c702","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"ListS3","comments":"","instanceIdentifier":"957584b9-019a-1000-aea7-2024c3849662"},"destination":{"id":"de0636b5-d4fc-3b43-b240-f979292432f1","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"958673df-019a-1000-6b0f-539e767a7ab4"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"e9bca76a-6420-31f3-bfe8-1354c899fda0","instanceIdentifier":"989daadd-019a-1000-1bc6-6ed45bc37dc8","name":"","source":{"id":"d66ba52f-3dee-3112-970b-bec989dab969","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"989d81fa-019a-1000-39fe-541672594a02"},"destination":{"id":"31fe2d8f-0c78-32c7-92c0-14a3916a180d","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"PutS3Object","comments":"","instanceIdentifier":"93c20bee-019a-1000-e4f6-f8b27cb55216"},"labelIndex":0,"zIndex":46,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"1916fc0d-3c7c-3173-baf6-7de7f72f1c53","instanceIdentifier":"95881880-019a-1000-6d04-d130d4cba450","name":"","source":{"id":"de0636b5-d4fc-3b43-b240-f979292432f1","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"958673df-019a-1000-6b0f-539e767a7ab4"},"destination":{"id":"2e5ce578-6946-3ea9-9785-2c54cae2575f","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"FetchS3Object","comments":"","instanceIdentifier":"957e3141-019a-1000-f35e-4a130a68de77"},"labelIndex":0,"zIndex":27,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"3a815fe5-9b6a-3d85-a00c-c54f08205c5c","instanceIdentifier":"93c1b68b-019a-1000-808f-d1fedf766dc7","name":"","source":{"id":"4d0792a2-c1a6-33b6-978e-d6ab366a2a60","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"QueryRecord","comments":"","instanceIdentifier":"93bcc3fb-019a-1000-a257-e107479cf8c7"},"destination":{"id":"f0897fc6-5b92-35e5-9346-823dc4210f05","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"93c0fbe4-019a-1000-39e4-0599ad6e755f"},"labelIndex":0,"zIndex":21,"selectedRelationships":["fact_player"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"f2cb311f-309a-3aad-b6f7-9b7e925dd9d6","instanceIdentifier":"95b6ac93-019a-1000-6e06-7f8c47872e62","name":"","source":{"id":"2e5ce578-6946-3ea9-9785-2c54cae2575f","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"FetchS3Object","comments":"","instanceIdentifier":"957e3141-019a-1000-f35e-4a130a68de77"},"destination":{"id":"bd5d29c8-98d2-30bc-a851-7a4286556b73","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"95b443f5-019a-1000-477c-9601996b57c5"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"38b008e3-7b83-3a31-a8f1-ac3bbb265527","instanceIdentifier":"9856959c-019a-1000-3017-cb89b0e90ea1","name":"","source":{"id":"c63b6f9c-f35f-3c06-8c53-825b02ac81ea","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateRecord","comments":"","instanceIdentifier":"95b6fad8-019a-1000-e90b-2d6d0880be8f"},"destination":{"id":"a8bac2dd-d7de-3d19-baa5-d5ed05d22f2e","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"984226e5-019a-1000-304a-dadba36f2c81"},"labelIndex":0,"zIndex":42,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"a4adde54-afe1-3b8f-b422-f194e143aa44","instanceIdentifier":"97a49833-019a-1000-3c8d-3fe3e5a70f5b","name":"","source":{"id":"36cfe4c1-ca13-3c8e-855d-7c7020642001","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateRecord","comments":"","instanceIdentifier":"97a1a3ed-019a-1000-7567-0c06e3e0b186"},"destination":{"id":"c63b6f9c-f35f-3c06-8c53-825b02ac81ea","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateRecord","comments":"","instanceIdentifier":"95b6fad8-019a-1000-e90b-2d6d0880be8f"},"labelIndex":0,"zIndex":41,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"f8fa0a68-b6f5-3f9f-b4b6-db7e3117bb0e","instanceIdentifier":"97a488ab-019a-1000-87af-19776a1981ec","name":"","source":{"id":"bd5d29c8-98d2-30bc-a851-7a4286556b73","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateAttribute","comments":"","instanceIdentifier":"95b443f5-019a-1000-477c-9601996b57c5"},"destination":{"id":"36cfe4c1-ca13-3c8e-855d-7c7020642001","type":"PROCESSOR","groupId":"21c96134-ef71-3618-af05-3c52c22d79b0","name":"UpdateRecord","comments":"","instanceIdentifier":"97a1a3ed-019a-1000-7567-0c06e3e0b186"},"labelIndex":0,"zIndex":40,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"70c94ca4-201d-3201-84c7-8fbc3ef835a4","instanceIdentifier":"9396d215-019a-1000-1f7d-327956b67097","name":"Lookup_salaries","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"Escape Character":"\\","lookup-key-column":"Player","csv-file":"/opt/nifi/nifi-current/salaries.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"6f7d3c24-37e4-3dac-89ad-ffa781562b92","instanceIdentifier":"939eed89-019a-1000-22b5-0e91526a0ec3","name":"Lookup_team","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"Escape Character":"\\","lookup-key-column":"team_key","csv-file":"/opt/nifi/nifi-current/dim_team.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"9fd4c4a4-8754-3e9a-82ab-c310b624b94c","instanceIdentifier":"97b575bf-019a-1000-a96b-9326d551036e","name":"RedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.6.0"},"properties":{"redis-connection-pool":"49b48f06-3724-31aa-b708-616413f242f4","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"49b48f06-3724-31aa-b708-616413f242f4","instanceIdentifier":"97b5e36f-019a-1000-b880-4632db8fdccb","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.6.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"redis-cache:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"ff2beba6-d651-3047-a524-6d99433d5674","instanceIdentifier":"95c090dd-019a-1000-db94-09306abd70f2","name":"CSVRecordSetWriter_fact","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"fact_player\",\n  \"fields\": [\n    { \"name\": \"Player\", \"type\": \"string\" },\n    { \"name\": \"Salary\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"Season\", \"type\": [\"null\", \"int\"], \"default\": null },\n    { \"name\": \"Player_season_key\", \"type\": [\"null\", \"string\"], \"default\": null }\n  ]\n}\n","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"34cbd7b0-fe2c-3c2f-bcfb-df2a76043544","instanceIdentifier":"97eff6bd-019a-1000-7b7c-f2ef0183035b","name":"CSVRecordLookupService","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"Escape Character":"\\","lookup-key-column":"Player_season_key","csv-file":"/opt/nifi/nifi-current/salaries_cleaned.csv","Trim Fields":"true","CSV Format":"custom","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"f1747ae7-add0-3f28-8533-490fb5952fe2","instanceIdentifier":"978aa9c5-019a-1000-a6a7-1d625c8a3c34","name":"DistributedMapCacheLookupService","comments":"","type":"org.apache.nifi.lookup.DistributedMapCacheLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"character-encoding":"UTF-8","distributed-map-cache-service":"9fd4c4a4-8754-3e9a-82ab-c310b624b94c"},"propertyDescriptors":{"character-encoding":{"name":"character-encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-map-cache-service":{"name":"distributed-map-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"eef74317-ae0d-3f6a-8a6f-e638641f6be6","instanceIdentifier":"95bef51b-019a-1000-9f65-7b9d5b564d8e","name":"CSVReader_fact","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"870a1094-74da-3b34-a934-25e9f7ba5e96","instanceIdentifier":"978215b1-019a-1000-4adf-e089c9038f71","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.6.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"ab523ba6-4481-3191-ab3d-a2adb21b0a6d","instanceIdentifier":"939ded2d-019a-1000-3411-c27cd5241eda","name":"Lookup_season","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"Escape Character":"\\","lookup-key-column":"season_key","csv-file":"/opt/nifi/nifi-current/dim_season.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"},{"identifier":"68297592-cbc9-312b-b3f8-3ca641bfd98e","instanceIdentifier":"939d0b59-019a-1000-f84f-dbc616791a3a","name":"Lookup_player","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.6.0"},"properties":{"Escape Character":"\\","lookup-key-column":"full_name","csv-file":"/opt/nifi/nifi-current/dim_player.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21c96134-ef71-3618-af05-3c52c22d79b0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"e756da36-70e8-3b82-9967-1aa742349306":{"identifier":"e756da36-70e8-3b82-9967-1aa742349306","name":"C2"},"59d66f7b-a133-37be-b16b-5251e079106b":{"identifier":"59d66f7b-a133-37be-b16b-5251e079106b","name":"CSVReader"},"e171dbb2-b7d2-3cb2-9c52-5a142b951710":{"identifier":"e171dbb2-b7d2-3cb2-9c52-5a142b951710","name":"CSVRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}